<!DOCTYPE HTML>
<!--
	Elevation by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Rails</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1><%= link_to 'Ruby', root_path %></h1>
					<nav id="nav">
						<ul>
							<li><%= link_to 'Home', root_path %></li>
							<li><%= link_to 'About', about_path %></li>
						</ul>
					</nav>
				</header>

			<!-- Main-->
				<div class="wrapper style1">
					<section id="main" class="container">
						<header class="major">
							<h2>Ruby on Rails</h2>
							<p>Rails is a web application development framework written in the Ruby language.</p>
						</header>

						<!-- Content -->
							<section id="content" class="box">
								<a href="#" class="image fit"><%= image_tag("pic04.jpg") %></a>
							</section>

					</section>
				</div>
				<!-- One -->
				<div class="wrapper style1 removepadding">
					<section class="container">
						<div class="row uniform">
							<div class="4u 12u(narrower)">
								<section class="box special">
									<i class="icon major fa-user"></i>
									<h3>Ruby on Rails</h3>
									<p>Rails is designed to make programming web applications easier by making...</p>
								</section>
							</div>
							<div class="4u 12u(narrower)">
								<section class="box special">
									<i class="icon major fa-tint"></i>
									<h3>Open Source </h3>
									<p>It allows you to write less code while accomplishing more than many other...</p>
								</section>
							</div>
							<div class="4u 12u(narrower)">
								<section class="box special">
									<i class="icon major fa-cog"></i>
									<h3>Happiness</h3>
									<p>Rails is opinionated software. It makes the assumption that there is a...</p>
								</section>
							</div>
						</div>
					</section>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="menu">
						<li><a href="#">About</a></li>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
					<div class="copyright">
					 All rights reserved.
					</div>
				</footer>

		</div>

		<!-- Scripts -->
			

	</body>
</html>